<div class="mb-3 form-floating">
  <input
    [class.is-invalid]="control.invalid && control.touched"
    [type]="type()"
    class="form-control"
    [formControl]="control"
    placeholder="{{ lable() }}"
  />
  <label>{{ lable() }}</label>
  <div *ngIf="control.hasError('required')" class="invalid-feedback text-start">
    Please enter a {{ lable() }}
  </div>
  <div
    *ngIf="control.hasError('minlength')"
    class="invalid-feedback text-start"
  >
    {{ lable() }} must be at least
    {{control.errors?.['minlength'].requiredLength}} characters
  </div>
  <div
    *ngIf="control.hasError('maxlength')"
    class="invalid-feedback text-start"
  >
    {{ lable() }} must be at most
    {{control.errors?.['maxlength'].requiredLength}} characters
  </div>
  <div
    *ngIf="control.hasError('isMatching')"
    class="invalid-feedback text-start"
  >
    Password do not match
  </div>
</div>
