<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      Male
    </label>

    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
  </div>

  <!-- 140 m 12 -->
  <app-text-input
    [formControlName]="'username'"
    lable="Usename"
  ></app-text-input>

  <app-text-input
    [formControlName]="'knownAs'"
    lable="Known as"
  ></app-text-input>

  <app-text-input
    [formControlName]="'dateOfBirth'"
    lable="Date of birth"
  ></app-text-input>

  <app-text-input [formControlName]="'city'" lable="City"></app-text-input>

  <app-text-input
    [formControlName]="'country'"
    lable="Country"
  ></app-text-input>

  <app-text-input
    [formControlName]="'password'"
    lable="Password"
    [type]="'password'"
  ></app-text-input>

  <app-text-input
    [formControlName]="'confirmPassword'"
    lable="Confirm password"
    [type]="'password'"
  ></app-text-input>

  <!-- <div class="mb-3 form-floating">
    <input
      [class.is-invalid]="
        registerForm.get('confirmPassword')?.errors &&
        registerForm.get('confirmPassword')?.touched
      "
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <label>Confirm Password</label> -->
  <!-- spiegazione 139 7:30 -->
  <!-- <div
      *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
      class="invalid-feedback text-start"
    >
      Please repeat the password
    </div>
    <div
      *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')"
      class="invalid-feedback text-start"
    >
      Confirm password must match password
    </div>
  </div> -->

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
